<% provide(:title, "Home") %>

<head>
  <title><%= yield(:title) %> | AuthWebApp</title>
</head>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/message_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Message List</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the AuthWebApp</h1>
    <h2>This is the homepage for my multi-factor authentication application</h2>
    <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>