<% provide(:title, "Edit user") %>

<h1>Signing Message</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p hidden id="user_id"><%= @message.user_id %></p>
    <p id="content">Content: <%= @message.content %></p>
    <% if @current_user.totp_activated && @current_user.u2f_activated %>
      <button type="button" class="btn btn-primary" id="sign_button_totp_u2f">Sign with TOTP and U2F</button>
    <% elsif @current_user.totp_activated %>
      <button type="button" class="btn btn-primary" id="sign_button_totp">Sign with TOTP</button>
      <%= render 'layouts/totp_authentication_modal' %>
      <%= javascript_include_tag "otp" %>
    <% elsif @current_user.u2f_activated %>
      <button type="button" class="btn btn-primary" id="sign_button_u2f">Sign with U2F</button>
      <%= render 'layouts/u2f_authentication_modal' %>
      <%= javascript_include_tag "u2f" %>
  <% end %>
  </div>
</div>

