<% provide(:title, "Edit user") %>
<h1>Settings</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :totp_activated, class: "checkbox inline" do %>
        <%= f.check_box :totp_activated %>
        <span>TOTP activated</span>
      <% end %>

      <%= f.label :u2f_activated, class: "checkbox inline" do %>
        <%= f.check_box :u2f_activated %>
        <span>U2F activated</span>
      <% end %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render 'layouts/otp_modal' %>
<%= render 'layouts/u2f_modal' %>
<%= javascript_include_tag "otp"  %>
<%= javascript_include_tag "u2f"  %>

