<% provide(:title, @user.name) %>

<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.name %></h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Messages (<%= @user.messages.count %>)</h3>
    <ol class="messages">
      <%= render @messages %>
    </ol>
    <%= will_paginate @messages %>

    <h3>Multi-Factor Authentication (<%= @user.multi_factor_count %>)</h3>
    <ol class="auth_methods">
      <%= render 'auth_methods' %>
    </ol>
  </div>
</div>
